<% include ../partials/boilerplate %>
<div class="middle list">
 <h1 class="msg">Team Roster!</h1>
<% player.forEach(player => { %>
 <div class="player">
  <h1 id="text"><span>Full Name:</span> <%= player.firstname %> <%= player.lastname %></h1>
  <h2 id="text"><span>Position:</span> <%= player.position %></h2>
    <a class="btn" href="/player/<%= player.id %>"><img src="<%= player.headshot_url %>"></a>
 </div>
<% }) %>
</div>

<% include ../partials/end %>